tei_vanilla.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI Vanilla</title>
        <author/>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative Commons
            Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that
              the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list of conditions and the
                following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
                the following disclaimer in the documentation and/or other materials provided with the
                distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any express or implied
              warranties, including, but not limited to, the implied warranties of merchantability and fitness for a
              particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any
              direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to,
              procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however
              caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence
              or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made
            available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which
            treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content
            in a software environment. For further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>.
          </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare exemplars by SPQR and
          LR.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization</head>

      <p>This TEI ODD defines a TEI customization that is as minimal as possible and the schema generated from it will validate
        a document that is minimally valid against the TEI scheme. It includes only the ten required elements:
        <list rend="numbered">
          <item>
            <gi>teiHeader</gi> from the header module to store required metadata</item>
          <item>
            <gi>fileDesc</gi> from the header module to record information about this file</item>
          <item>
            <gi>titleStmt</gi> from the header module to record information about the title</item>
          <item>
            <gi>publicationStmt</gi> from the header module to detail how it is published</item>
          <item>
            <gi>sourceDesc</gi> from the header module to record where it is from</item>
          <item>
            <gi>p</gi> from the core module for use in the header and the body</item>
          <item>
            <gi>title</gi> from the core module for use in the titleStmt</item>
          <item>
            <gi>TEI</gi> from the textstructure module because what is a TEI file without that?</item>
          <item>
            <gi>text</gi> from the textstructure module to hold some text</item>
          <item>
            <gi>body</gi> from the textstructure module as a place to put that text</item>
        </list>
      </p>
      <schemaSpec ident="tei_vanilla" start="TEI" prefix="tei_" targetLang="en" docLang="en">

        <!-- required minimal header elements -->
        <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt sourceDesc licence projectDesc rendition correspAction correspDesc correspContext revisionDesc seriesStmt tagUsage tagsDecl taxonomy textClass abstract availability catDesc catRef category change classCode classDecl creation edition editionStmt editorialDecl encodingDesc extent idno keywords langUsage language listChange profileDesc"/>

        <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core" include="p title label measure milestone graphic name orig pubPlace publisher quote reg resp respStmt choice rs sic term textLang time unclear abbr add address author bibl biblScope cb corr date del desc editor expan foreign gap head hi item l lb lg list listBibl measureGrp note num pb ref"/>

        <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure" include="TEI text body group postscript salute signed back closer dateline div front opener"/>

        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>


        <moduleRef key="textcrit" include="listWit witness app lem rdg"/>
        <moduleRef key="namesdates" include="listPerson listPlace orgName persName placeName person place org"/>
        <moduleRef key="msdescription" include="material msContents msDesc msIdentifier msItem origDate origPlace physDesc repository seal sealDesc support supportDesc width altIdentifier condition dimensions height"/>
        <moduleRef key="transcr" include="facsimile space subst supplied surface zone addSpan damage damageSpan delSpan handShift"/>
        <moduleRef key="corpus" include="particDesc settingDesc setting"/>
        <moduleRef key="figures" include="row table cell figure formula"/>
        <moduleRef key="linking" include="seg ab anchor"/>
        <moduleRef key="analysis" include="w"/>
        <classSpec ident="att.global.rendition" type="atts" mode="change">
          <attList>
            <attDef ident="style" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.damaged" type="atts" mode="change">
          <classes mode="change">
            <memberOf key="att.dimensions" mode="delete"/>
            <memberOf key="att.written" mode="delete"/>
          </classes>
        </classSpec>
        <classSpec ident="att.naming" type="atts" mode="change">
          <classes mode="change">
            <memberOf key="att.canonical" mode="delete"/>
          </classes>
        </classSpec>
        <classSpec ident="att.formula" type="atts" mode="delete"/>
        <classSpec ident="att.fragmentable" type="atts" mode="delete"/>
        <classSpec ident="att.global.source" type="atts" mode="delete"/>
        <elementSpec ident="lem" mode="change">
          <classes mode="change">
            <memberOf key="att.typed"/>
            <memberOf key="att.written"/>
          </classes>
        </elementSpec>
        <elementSpec ident="rdg" mode="change">
          <classes mode="change">
            <memberOf key="att.typed"/>
            <memberOf key="att.written"/>
          </classes>
        </elementSpec>
        <classSpec ident="att.rdgPart" type="atts" mode="delete"/>
        <classSpec ident="att.resourced" type="atts" mode="delete"/>
        <classSpec ident="att.segLike" type="atts" mode="delete"/>
        <classSpec ident="att.sortable" type="atts" mode="delete"/>
        <classSpec ident="att.textCritical" type="atts" mode="delete"/>
        <classSpec ident="att.timed" type="atts" mode="delete"/>
        <classSpec ident="att.transcriptional" type="atts" mode="delete"/>
      </schemaSpec>
    </body>
  </text>
</TEI>
